/*
 * Device Tree overlay for sx1508 IO expander, jdi lt070me05000 panel, and goodix touchscreen.
 * Compile: dtc -Wno-interrupts_property -@ -I dts -O dtb -o cm4-dsi-lt070me05000.dtbo cm4-dsi-lt070me05000-overlay.dts
 */

/dts-v1/;
/plugin/;
// compile: dtc -@ -I dts-O dtb -o vc4-kms-dsi-w280bf036i.dtbo vc4-kms-dsi-w280bf036i.dts

/ {
	compatible = "brcm,bcm2835";  

	fragment@0 {
		target = <&dsi1>;
		__overlay__{
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;
			port {
				dsi_out_port:endpoint {
					remote-endpoint = <&panel_dsi_port>;
				};
			};

			dsi1_panel:dsi1_panel@0 {
				compatible    = "beilijia,screen55217";
				status        = "okay";
				reg           = <0>;
                vc4_dsi       = <&dsi1>;
                reset-gpios   = <&gpio 25 0>;
                enable-gpios  = <&gpio 17 0>;
				port {
					panel_dsi_port: endpoint {
						remote-endpoint = <&dsi_out_port>;
					};
				};
			};
		};
	};

	fragment@1 {
		target = <&gpio>;
		__overlay__ {
			dsi1_panel_pins: dsi1_panel_pins{
				brcm,pins = <25 17 >;
				brcm,function = <1 1>; // out
				brcm,pull = <1 1>; // off
			};
		};

	};
	fragment@2 {
		target = <&i2c_csi_dsi>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
		};
	};
};
 


