/*
 * Device Tree overlay for sx1508 IO expander, jdi lt070me05000 panel, and goodix touchscreen.
 * Compile: dtc -Wno-interrupts_property -@ -I dts -O dtb -o cm4-dsi-lt070me05000.dtbo cm4-dsi-lt070me05000-overlay.dts
 */

/dts-v1/;
/plugin/;
// compile: dtc -@ -I dts-O dtb -o vc4-kms-dsi-w280bf036i.dtbo vc4-kms-dsi-w280bf036i.dts

/ {
	compatible = "brcm,bcm2835";  

	fragment@0 {
		target = <&dsi1>;
		__overlay__{
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;
			port {
				dsi_out_port:endpoint {
					remote-endpoint = <&panel_dsi_port>;
				};
			};

			dsi1_panel:dsi1_panel@0 {
				compatible    = "beilijia,screen55217";
				status        = "okay";
				reg           = <0>;
                vc4_dsi       = <&dsi1>;
                reset-gpios   = <&gpio 25 0>;
                enable-gpios  = <&gpio 17 0>;
                dcdc-gpios    = <&gpio 10 0>;
				port {
					panel_dsi_port: endpoint {
						remote-endpoint = <&dsi_out_port>;
					};
				};
			};
		};
	};

	fragment@1 {
		target = <&gpio>;
		__overlay__ {
			dsi1_panel_pins: dsi1_panel_pins{
				brcm,pins = <25 17 10>;
				brcm,function = <1 1 1>; // out
				brcm,pull = <1 1 1>; // off
			};
		};

	};
	fragment@2 {
		target = <&i2c_csi_dsi>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
		};
	};
    fragment@3 {
        target = <&i2c0>;
        __overlay__{
            status = "okay";
            #address-cells = <1>;
            #size-cells = <0>;

            gt911: gt911@14 {
                compatible = "goodix,gt911";
                reg = <0x14>;
                pinctrl-names = "default";
                pinctrl-0 = <&goodix_pins>;
                interrupt-parent = <&gpio>;
                interrupts = <20 2>; // high-to-low edge triggered
                /*interrupt-controller;*/
                irq-gpios = <&gpio 20 0>;
                reset-gpios = <&gpio 21 0>;
                status        = "okay";
            };
        };
    };

	fragment@4 {
		target = <&gpio>;
		__overlay__ {
			goodix_pins: goodix_pins{
				brcm,pins = <20 21>;
				brcm,function = <0 1>; // out
				brcm,pull = <2 1>; // off
			};
		};

	};

    fragment@5 {
        target = <&i2c0mux>;
        __overlay__ {
            pinctrl-0 = <&i2c0_gpio44>;
        };
    };
};
 


